@model DataManthenaSuprem.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Heroine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Heroine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Villan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Villan)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.MovieID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
