@model IEnumerable<DataManthenaSuprem.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Heroine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Villan)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Director)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Heroine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Villan)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.MovieID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.MovieID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.MovieID">Delete</a>
        </td>
    </tr>
}
</table>
