﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div class="col-lg-12 text-center ">
    <h1 class="page-header">Generation of Miracles </h1>
</div>
<div class="col-lg-12 text-center">
    <div class="row">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-2 center-block">
            <a class="thumbnail" data-toggle="modal" data-target="#popup1" data-toggle="tooltip" title="Ashish Pandey">
                <img class="center-block" src="IMhb_1.jpg" alt="">
                <h5>Ashish Pandey <small>Project Planning</small></h5>
                <p>Develop Web Applications for the University</p>
            </a>

        </div>
        <div class="col-sm-5">
        </div>
    </div>


    <!--FIRST ROW ENDS HERE-->


    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
            <a class="thumbnail" data-toggle="modal" data-target="#popup2" data-toggle="tooltip" title="Nadeem Ansari">
                <img class="center-block" src="Nadeem.jpg" alt="">
                <h5>Nadeem Ansari <small>UI/UX Design</small></h5>
                Develop Web Applications for the University
            </a>

        </div>


        <div class="col-sm-4">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-8">
                <a class="thumbnail">
                    <img class="center-block" src="Team 5 logo.png" alt="">
                    TEAM 5
                </a>
            </div>
            <div class="col-sm-2">

            </div>
        </div>


        <div class="col-sm-2">

            <a class="thumbnail" data-toggle="modal" data-target="#popup3" data-toggle="tooltip" title="Sai Sharanya">
                <img class="center-block" src="SaiShar.jpg" alt="">
                <h5>Sai Sharanya <small>DB Designer</small></h5>
                Develop Web Applications for the University
            </a>

        </div>
        <div class="col-sm-2">

        </div>
    </div>


    <!-- SECOND ROW ENDS HERE-->

    <div class="row">
        <div class="col-sm-3">
            <!--EMPTY COLUMN-->
        </div>
        <div class="col-sm-2">
            <a class="thumbnail" data-toggle="modal" data-target="#popup4" data-toggle="tooltip" title="Vijay Gopi">
                <img class="center-block" src="VijayGopi.jpg" alt="">
                <h5>Vijay Gopi <small>System Tester</small></h5>
                Develop Web Applications for the University
            </a>
        </div>
        <div class="col-sm-2">
            <!--EMPTY COLUMN-->
        </div>
        <div class="col-sm-2">
            <a class="thumbnail" data-toggle="modal" data-target="#popup5" data-toggle="tooltip" title="Suprem Raju">
                <img class="center-block" src="Suprem.jpg" alt="">
                <h5>Suprem Raju <small>Developer</small></h5>
                Develop Web Applications for the University
            </a>
        </div>
        <div class="col-sm-3">
            <!--EMPTY COLUMN-->
        </div>
    </div>
</div>
<div id="popup1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Ashish Pandey</h4>
            </div>
            <div class="modal-body">
                <img class="img-responsive center-block" src="IMhb_1.jpg" alt="">
                <p>
                    <b>Role:</b> I work as a System Developer in CITE Office at the University. I develop Eb applications
                    for the University. I also have 2 Years of work experience in INDIA as Software Developer in iGate
                </p>
                <p class="linksHover">
                    <b>Email:</b>
                    <a href="mailto:s525078@mail.nwmissouri.edu?Subject=Feedback" target="_blank"><img src="Message Squared-48.png"></a>
                </p>
                <div>
                    <p class="linksHover">
                        <b>Find us: </b>
                        <a href="https://www.facebook.com/ashish.pandey91" target="_blank"><img src="Facebook-48.png"></a>


                        <a href="https://www.linkedin.com/in/ashish-pandey-7030b631" target="_blank"><img src="LinkedIn-48.png"></a>


                        <a href="https://twitter.com/Ashish_Pandey91" target="_blank"><img src="Twitter-48.png"></a>
                    </p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="popup2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Nadeem Ansari</h4>
            </div>
            <div class="modal-body">
                <img class="img-responsive center-block" src="Nadeem.jpg" alt="">
                <p>
                    <b>Role:</b> I work as a System Developer in CITE Office at the University. I develop Eb applications
                    for the University. I also have 2 Years of work experience in INDIA as Software Developer in iGate
                </p>
                <p class="linksHover">
                    <b>Email:</b>
                    <a href="mailto:s525078@mail.nwmissouri.edu?Subject=Feedback" target="_blank"><img src="Message Squared-48.png"></a>
                </p>
                <div>
                    <p class="linksHover">
                        <b>Find us: </b>
                        <a href="https://www.facebook.com/ashish.pandey91" target="_blank"><img src="Facebook-48.png"></a>


                        <a href="https://www.linkedin.com/in/ashish-pandey-7030b631" target="_blank"><img src="LinkedIn-48.png"></a>


                        <a href="https://twitter.com/Ashish_Pandey91" target="_blank"><img src="Twitter-48.png"></a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="popup3" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Sai Sharanya</h4>
                </div>
                <div class="modal-body">
                    <img class="img-responsive center-block" src="SaiShar.jpg" alt="">
                    <p>
                        <b>Role:</b> I work as a System Developer in CITE Office at the University. I develop Eb applications
                        for the University. I also have 2 Years of work experience in INDIA as Software Developer in iGate
                    </p>
                    <p class="linksHover">
                        <b>Email:</b>
                        <a href="mailto:s525078@mail.nwmissouri.edu?Subject=Feedback" target="_blank"><img src="Message Squared-48.png"></a>
                    </p>
                    <div>
                        <p class="linksHover">
                            <b>Find us: </b>
                            <a href="https://www.facebook.com/ashish.pandey91" target="_blank"><img src="Facebook-48.png"></a>


                            <a href="https://www.linkedin.com/in/ashish-pandey-7030b631" target="_blank"><img src="LinkedIn-48.png"></a>


                            <a href="https://twitter.com/Ashish_Pandey91" target="_blank"><img src="Twitter-48.png"></a>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup4" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Vijay Gopi</h4>
                    </div>
                    <div class="modal-body">
                        <img class="img-responsive center-block" src="VijayGopi.jpg" alt="">
                        <p>
                            <b>Role:</b> I work as a System Developer in CITE Office at the University. I develop Eb applications
                            for the University. I also have 2 Years of work experience in INDIA as Software Developer in iGate
                        </p>
                        <p class="linksHover">
                            <b>Email:</b>
                            <a href="mailto:s522581@mail.nwmissouri.edu?Subject=Feedback" target="_blank"><img src="Message Squared-48.png"></a>
                        </p>
                        <div>
                            <p class="linksHover">
                                <b>Find us: </b>
                                <a href="https://www.facebook.com/vijju.gopi" target="_blank"><img src="Facebook-48.png"></a>


                                <a href="https://twitter.com/VijjuGopi92" target="_blank"><img src="Twitter-48.png"></a>

                                <a href="https://plus.google.com/+VijayGopi1992" target="_blank"><img src="Google Plus-48 (1).png"></a>


                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="popup5" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">Suprem Raju</h4>
                        </div>
                        <div class="modal-body">
                            <img class="img-responsive center-block" src="Suprem.jpg" alt="">
                            <p>
                                <b>Role:</b> I work as a System Developer in CITE Office at the University. I develop Eb applications
                                for the University. I also have 2 Years of work experience in INDIA as Software Developer in iGate
                            </p>
                            <p class="linksHover">
                                <b>Email:</b>
                                <a href="mailto:s525350@mail.nwmissouri.edu?Subject=Feedback" target="_blank"><img src="Feedback-52.png"></a>

                            </p>
                            <p class="linksHover">
                                <b>Find us: </b>
                                <a href="https://www.facebook.com/suprem.manthena" target="_blank"><img src="Facebook-48.png"></a>


                                <a href="https://www.linkedin.com/in/suprem-raju-manthena-ab5066115?trk=nav_responsive_tab_profile" target="_blank"><img src="LinkedIn-48.png"></a>

                                <a href="https://plus.google.com/u/0/116227138076627953228" target="_blank"><img src="Google Plus-48 (1).png"></a>


                            </p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
